{% extends 'general_base.html' %}
{% block title %}WYBORY.{% endblock %}
{% block head %}
	{{ block.super }}
	<link type="text/css" rel="stylesheet" href="/static/mainapp/mainapp_style.css"/>
{% endblock %}
{% block body %}
    	<div id="navigator">
    		<div class="container">
	    	{% block navigator %}
		    	<div class="accounts">
		    		{% if user.is_authenticated %}
		    			<a href="/wybory/logout/">Wyloguj "{{ user.username }}"</a> |
		    			<!--<a href="/wybory/{{ user.username }}/twojewybory/">Twoje glosy</a> |-->
		    			<a href="/wybory/{{ user.username }}/profile/">Twoje dane</a>
		    		{% else %}
		    			<a href="/wybory/login/">Zaloguj się</a> |
		    			<a href="/wybory/register/">Zarejestruj się</a> |
		    		{% endif %}
		    			<a href="/">Powróć</a>
		    	</div>
		    	<div class="links">
		    		<a href="/wybory/">Strona główna</a> |
		    		{% if user.is_authenticated %}
		    		<a href="/wybory/addWybory/">Dodaj wybory</a> |
		    		{% endif %}
		    		<a href="/wybory/lista/3">Najnowsze wybory</a> |
		    		<a href="/wybory/lista/">Lista wyborów</a>
		    	</div>
	    	{% endblock %}
	    	</div>
    	</div>
    	<!--
    	<div class="nav_filler">
    	</div>
    	-->
    	<div id="content">
    		<div class="container">
		    	{% block content %}
		    	{% endblock %}
	    	</div>
    	</div>
    	<div id="footer">
    		<div class="container">
		    	{% block footer %}
			    	{% if user.is_superuser %}
			    		<a href="/admin/">Made by MJ, MZ, TK</a>
			    	{% else %}
			    		<a>Made by MZ, MJ, TK</a>
			    	{% endif %}
		    	{% endblock %}
	    	</div>
    	</div>
{% endblock %}