/***************** GLOBALNE *******************/

/** {
 	border-style: dashed;
 	border-color: white;
 	border-width: 1px;
} */

/***************** CONTENT ********************/
#content {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
#content .container {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #4D5454;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	margin-left: 125px;
	margin-right: 125px;
}

