/***************** GLOBALNE *******************/

/** {
 	border-style: dashed;
 	border-color: white;
 	border-width: 1px;
} */

p {
	color: #E3AE57;
}

table {
	display:inline-block;
}
body {
	background-color: #232B2B;
}

a {
	text-decoration:none;
	margin: 5px;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #DC3D24;
}
a:active {
	color: #4D5454;
}

tr {
	margin: 5px;
}

td {
	padding: 5px;
}
/***************** NAWIGATOR ******************/
#navigator {
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-top: -25px;
	padding: 10px;
	padding-top: 25px;
	font-size: small;

	border-bottom-style: solid;
	border-bottom-color: #DC3D24;
	border-bottom-width: 1px;
	background-color: #232B2B;

}
.accounts {
	display: inline-block;
}

.links {
	float: right;
	display: inline-block;
}

/***************** CONTENT ********************/
#content {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
#content .container {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #4D5454;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	margin-left: 125px;
	margin-right: 125px;
}

#content .container .election_utils {
	font-size: 12px;
}

#user_votes ul {
	color: white;
	display:inline-block;
	padding: 2px;
	margin: 2px;
}

#user_votes li {
	text-align: left;
	font-weight:normal;
}

#user_votes li p {
	margin: 2px;
	text-align: left;
}
#user_votes a {
	font-size: 14px;
	padding: 2px;
}

#user_votes p {
	color: #E3AE57;
	font-size: 14px;
	text-align: center;
	margin: 2px;
}
#user_votes .election_title {
	border-bottom-color:#AAAAAA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
#user_votes h3, #user_votes h4 {
	color: white;
}

#user_votes h3 a {
	font-size: 19px;
	margin: 0px;
	padding: 0px;
}
#user_votes {
	text-align: center;
}

#user_votes .election_votes {
	padding: 15px;
	background-color:#263131;
	margin: 5px;
	display:inline-block;
	vertical-align:top;
}

/*** NEWSPANEL ***/
.newspanel {
}

.newspanel .post {
	border-top-style: solid;
	border-top-color: #4D5454;
	border-width: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 5px;
}

.newspanel .last {
	border-bottom-style: solid;
	border-bottom-color: #4D5454;
}

.newspanel .post h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	color: white;
	font-size: 18px;
	display: inline-block;
}
.newspanel .post p.date  {
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
	float: right;
	color: white;
}
.newspanel .post p.tresc {
	font-size: 14px;
	color: #E3AE57;
	text-align: justify;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 100px;
	padding-right: 100px;
	text-indent: 35px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.newspanel .post .edit {
	margin-top: 5px;
	margin-bottom: 0px;
	color: white;
	text-align: right;
	font-size: 12px;

}
.add_news {
	font-size: 12px;
	color: white;
	margin-bottom: 5px;
}

.wybory_details {
	width:  75%;
	display: inline-block;
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.wybory_list {
	text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #4D5454;
	border-width: 1px;
	border-style: solid;
	width: 75%;
	display: inline-block;
}


.profile_details {
	display: inline-block;
	vertical-align: top;
	background-color: #263131;
	padding: 5px;
	margin: 2px;
}

.profile_details p {
	color: #E3AE57;
	font-size: 14px;
	text-align: left;
	margin: 5px;
}

.profile_details h3, .profile_details h4 {
	color: white;
}

.profile_details ul {
	text-align: left;
	color: white;
	margin: 2px;
}

.profile_details li {
	font-weight:normal;
}

.profile_details li p {
	margin: 2px;
}

.profile_details a {
	font-size: 14px;
	padding: 2px;
}

#all_votes {
	font-size:12px;
	display: block;
	margin: 5px 0px 0px 0px;
}

.election_details {
	display: inline-block;
	vertical-align: top;
	background-color: #263131;
	padding: 5px;
	margin: 2px;
}
.election_details p {
	color: #E3AE57;
	font-size: 14px;
	text-align: left;
	margin: 5px;
}

.election_details h3, .election_details h4 {
	color: white;
}

.election_details ul {
	text-align: left;
	color: white;
	margin: 2px;
}

.election_details li {
	font-weight:normal;
}

.election_details li p {
	margin: 2px;
}

.election_details a {
	font-size: 14px;
	padding: 2px;
}

#election_description {
	color:#AAAAAA;
	text-align: center;
	padding: 3px;
	background-color:#232B2B;
	margin: 3px;
}

#election_general_info {
	text-align: center;
	width: 50%;
}

#add_election {
	text-align: left;
}


.results {
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	padding: 5px;
}

.results h3 {
	color: white;
}

.results table tr td p {
	margin: 2px;
	padding: 2px;
}

#wykres {
	margin: 15px;
	display:inline-block;
	vertical-align: top;
}
/************************ STOPKA **************************/
#footer{
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-top-style: solid;
	border-top-color: #DC3D24;
	border-top-width: 1px;
	text-align: center;
	font-size: small;
	color: #E3AE57;
	padding-top: 5px;
	clear: both;

}

/******************* FORMULARZE *****************/
form {
	margin: 15px;
	padding: 10px;
}
form.login {
	text-align: center;
	color: #E3AE57;
}
form.register {
	text-align: left;
	margin-left: 50px;
	color: #E3AE57;
}
p strong {
	color: #E3AE57;
}
form p {
	color: #E3AE57;
}

#id_wymagane_zawody, #id_kandydaci, #id_zawod, #id_obywatelstwo {
	color: white;
}
label {
	display: block;
}
.helptext {
	font-size: 10px;
	display: block;
}

.errorlist {
    color: red;
}

#glosowanie {
    color: #E3AE57;
}

#voting h3 {
    color: white;
}