/***************** GLOBALNE *******************/

/** {
 	border-style: dashed;
 	border-color: white;
 	border-width: 1px;
} */

p {
	color: #E3AE57;
}

table {
	display:inline-block;
}
body {
	background-color: #232B2B;
}

a {
	text-decoration:none;
	margin: 5px;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:hover {
	color: #DC3D24;
}
a:active {
	color: #4D5454;
}

tr {
	margin: 5px;
}

td {
	padding: 5px;
}


/***************** CONTENT ********************/
#content {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}
#content .container {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #4D5454;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
	margin-left: 125px;
	margin-right: 125px;
}

#content .container h3 {
	color: #E3AE57;
}
